.select-question {
  min-height: 100vh;
  background: url("../../assets/imgs-icons/StorytellerDesktop\ Video\ Background1.png")
    center repeat;
  background-size: cover;
  position: relative;
}

.select-question::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    0deg,
    black,
    rgba(0, 0, 0, 0.628),
    rgba(0, 0, 0, 0.017)
  );
}

.select-question-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}

.questions h2 {
  padding-top: 2rem;
}

.questions p {
  margin: 10px 0 1rem 0;
  line-height: 26px;
}

.questions {
  margin-top: 4rem;
}

.questions .question {
  padding: 1.5rem 10px;
  border-top: 1px solid var(--white-clr);
}

.questions .question:last-child {
  border-bottom: 1px solid var(--white-clr);
}

.select-question-flex .btn3-1 {
  margin: 2rem auto;
}

.another-story {
  display: flex;
  gap: 1rem;
}

.completed {
  color: var(--accent-clr);
}

.completed img {
  width: 17px;
  margin: 0 10px;
}
