.select-question {
  min-height: 100vh;
  background: url("../../assets/imgs-icons/StorytellerDesktop\ Video\ Background.png")
    center repeat;
  background-size: cover;
}

.select-question-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.select-question h2 {
  padding-top: 2rem;
}

.select-question p {
  margin: 10px 0 1rem 0;
}

.select-question .topics {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.questions span {
  padding: 1rem 10px;
  border-top: 1px solid var(--white-clr);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.questions span:hover {
  background-color: var(--white-clr);
  color: var(--black-clr);
}

.last-question {
  border-bottom: 1px solid var(--white-clr);
  display: inline-block;
  margin-bottom: 2rem;
}
