.image {
  min-height: 100vh;
  background: url("../../assets/imgs-icons/Wave\ Background\ IMG.png") center
    repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.record-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem auto;
}

.record-data > p {
  margin: 1rem 0 1rem 0;
}

.record-image {
  width: 100%;
  max-width: 470px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.upload-image {
  background-color: #d8d8d8;
  width: 100%;
  height: 470px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-image .icon {
  background-color: rgba(0, 0, 0, 0.25);
}

::placeholder {
  font-family: "proximanova";
  font-size: 20px;
}

.record-image input {
  display: none;
  width: 100%;
}

.record-image > label {
  cursor: pointer;
  width: 100%;
  color: var(--black-clr);
}

.write-story {
  width: 100%;
  min-height: 300px;
  padding: 1rem;
  border: none;
  resize: none;
  font-size: 20px;
}

.share-btn {
  max-width: 470px;
  width: 100%;
  margin: 1rem auto;
}
